.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  flex-wrap: wrap;

  &__item {

    &-tall {
      width: calc(25% - 1rem);
      margin: 1rem;
    }

    &-wide {
      width: calc(75% - 1rem);
      margin: 1rem;
    }

    &-pic {
      height: 20rem;
    }
  }

  img {
    // width: 100%;
    object-fit: cover;
  }
}

.pic__caption {
  // display: flex;
  // justify-content: flex-start;
  position: absolute;
  top: 10%;
  left: 10%;

  &__title {

  }

  &__desc {

  }
}
