.section {

}

.container {

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background: $c-navbar;
  color: $c-white;
  box-shadow: 0px -10px 10px 10px rgba(0,0,0,.8);

  &__list {
    display: flex;
    margin-right: -0.25rem;
  }
}

.name {
  margin: 0.75rem;
}

.list__item {
  margin: 0 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background: $c-banner;
  text-transform: uppercase;

  &__text {
    margin: 0;
    font-size: 22px;
  }

  &__caption {
    color: $c-white;
    font-size: 15px;
  }
}
